# Ignore .env file containing sensitive information
.env

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore log files
*.log
config/logs/

# Ignore output files
orphaned_files.json
config/*.json
config/*.txt
config/*.db
deluge_orphaned_files.db
.devdbrc
comparison_results.txt

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/